pandas
uszipcode
blinker==1.8.2
click==8.1.7
debugpy==1.8.5
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
psutil==6.0.0
typing_extensions==4.12.2
zipp==3.20.1
trimesh==4.4.9
stripe>=10.0.0